<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("../_share/metadata.ejs") %>
    <title>Document</title>
    <%- include("../_share/stylesheets.ejs") %>
  </head>
  <body>
    <div class="outerframe">
      <%- include("../_share/navbar.ejs") %>
      <main class="container">
        <div class="border-bottom my-5">
          <h1>新規登録</h1>
        </div>

        <div class="alert alert-success my-5">新規登録が完了しました。</div>
        <div class="text-center my-5">
          <a class="bt btn-outline-primary" href="/">トップページへ戻る</a>
        </div>
      </main>
      <%- include("../_share/footer.ejs") %>
    </div>
    <%- include("../_share/javascripts.ejs") %>
    <script src="/public/javascripts/complete.js"></script>
  </body>
</html>
